{% extends 'base.html' %}
{% block title %}Home{% endblock%}


{% block body %}

<p>Problem Statement 1:</p>
<p>
    Create a Django app naming ‘test_app’.</p>

    <p>Create model named User and User_details where user_id is a primary key of table User.</p>
    <p>Filter rows with age greater than 50 and salary greater than 25000 with ORM.</p>
    <p>Create HTML page with scrollable pdf (any pdf with more than 2 pages) on the left half and populate</p>
    <p>field “state” from filtered data on right half. Populate both pdf and data using jinja format.</p>


    
    <p>Problem Statement 2:</p>
        
    <p>Account Statement Report.</p>
    <p>With the use of PDF to TEXT convertors and OCR/ICR Technologies you have extracted the</p>
    <p>date and balance amount from the bank account statement. After applying various filters</p>
    <p>and data cleaning methods, you have stored the data in a dictionary</p>
{% endblock body %}